@import './fonts.sass'
@import './colors.sass'
@import './breakpoints.sass'

*,
*:before,
*:after
  box-sizing: border-box
  font-family: $ftext

body
  overflow: hidden
  display: flex
  flex-direction: column
  margin: 0 auto
  padding: 0
  min-height: 100vh
  max-width: 2000px
  color: $c_txt_main
  background: $c_txt_secondary
  // opacity: 1
  transition: opacity 1s ease-in-out
  @include fallback
    font-size: $fsize_standard
  @include wearables
    font-size: $fsize_extrasmall
  @include phones
    font-size: $fsize_small
  @include tablets
    font-size: $fsize_small
  @include hugeDevices
    font-size: $fsize_big

// body.fade-in
//   opacity: 1

// body::before
//   content: ''
//   position: fixed
//   top: 0
//   left: 0
//   width: 100%
//   height: 100%
//   z-index: 9999
//   background: radial-gradient(circle, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.9) 80%)
//   animation: fadeSmoke 3s ease-in-out forwards

// @keyframes fadeSmoke
//   from
//     opacity: 0

//   to
//     opacity: 1

// .loading-screen
//     position: fixed
//     top: 0
//     left: 0
//     width: 100%
//     height: 100%
//     background-color: $c_txt_secondary
//     z-index: 9999
//     animation: fadeOut 2s ease-in-out forwards

// @keyframes fadeOut
//     0%
//         opacity: 1

//     100%
//         opacity: 0
//         visibility: hidden
.loading-screen
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: $c_txt_secondary
    z-index: 9999
    display: flex
    align-items: center
    justify-content: center
    opacity: 1
    animation: expandOut 2s ease-in-out forwards
    overflow: hidden

.loading-message
    color: $c_txt_main
    font-size: 24px

@keyframes expandOut
    0%
        opacity: 1
        transform: scale(0)

    100%
        opacity: 0
        transform: scale(1)

// .main-container
//     opacity: 0
//     visibility: hidden
//     transition: opacity 1s ease-in-out


// .main-container.visible
//     opacity: 1
//     visibility: visible


.main_container
  margin: 0 auto
  display: flex
  flex-direction: column
  opacity: 0
  visibility: hidden
  transition: opacity 1s ease-in-out

main
  flex-grow: 1

main,
header,
footer
  border: 1px $c_txt_main dotted
  flex-shrink: 0

header
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  &::before
    content: ''
    position: absolute
    height: 2px
    width: 100%
    top: 0
    left: 0

footer
  text-align: center
  position: relative
  &::before
    content: ''
    background-color: $c_txt_secondary
    position: absolute
    height: 2px
    width: 100%
    top: 0
    left: 0

h1,
h2
  color: $c_txt_main
  font-family: $ftitle
  padding-top: 1.2rem
  text-transform: uppercase
  font-size: 1.2em

p
  padding: .25rem 0

ul,
ol
  padding: .3rem 0
  list-style: none

a
  text-decoration: dotted
  &:hover,
  &:active
    color: $c_txt_highlight
    text-decoration: underline
    font-weight: bold
    outline: none

header
  display: flex
  flex-direction: column
  align-items: flex-start

nav
  margin-bottom: .5rem
  width: 100%
  position: relative
  &::before
    content: ''
    background-color: $c_txt_secondary
    position: absolute
    height: 1px
    width: 100%
    top: 0
    left: 0
  &::after
    content: ''
    background-color: $c_txt_secondary
    position: absolute
    height: 1px
    width: 100%
    top: 100%
    left: 0

.index-content
  display: flex
  flex-wrap: wrap
  gap: 20px

.index-title
  height: 100px
  grid-column: 1 / -1
  grid-row: 3 / 4
  font-size: 1.3rem
  text-align: center
  overflow: hidden
  white-space: nowrap
  margin: 2rem auto 0
  letter-spacing: 0.15em
  animation: typing 3.5s steps(30, end), blink-caret 8.5s step-end infinite

@keyframes typing
  from
    width: 0
  to
    width: 100%


.section-top
  flex: 1 1 calc(50% - 20px)
  margin-bottom: 20px

.section-bottom
  flex: 1 1 calc(100% - 20px)


.characterList
  list-style: none
  padding: 0
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  margin-top: 2rem

.characters
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  font-size: 1.2em

.chars
  margin: 0
  display: inline-block
  overflow: hidden
  white-space: nowrap
  border-right: 0.15em solid $c_txt_highlight
  margin: 0 auto
  animation: typing 8.5s steps(30, end), blink-caret 0.5s step-end infinite
  text-align: center
  font-size: 1.3rem
  letter-spacing: 0.15em

// .characters
//   display: flex
//   align-items: center
//   gap: 20px

// .characters p
//   margin: 0

.yuji-img,
.toji-img,
.geto-img
  max-width: 300px
  height: auto

.yuji,
.toji,
.geto
  grid-column: 1 / 3
  display: flex
  justify-content: center
  align-items: center

.yuji-photo,
.toji-photo,
.geto-photo
  grid-column: 3 / -1
  // width: 75%
  margin: 1rem 7rem
  display: flex
  justify-content: center
  align-items: center

.yuji .chars,
.toji .chars,
.geto .chars
  // writing-mode: vertical-lr
   text-orientation: upright
  border-right: none
  margin: 0
  padding: 0 5px

.iframe-container
    position: relative
    width: 100%
    padding-top: 56.25%
    overflow: hidden
    
.iframe-container iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

// .yuji
//   grid-column: 1 / 3
//   grid-row: 1 / 2
//   display: flex
//   justify-content: center
//   align-items: center
//   margin-right: 10px

// .yuji-photo
//   grid-column: 3 / -1
//   grid-row: 1 / 2
//   width: 75%
//   margin: 1rem 7rem
//   display: flex
//   justify-content: center
//   align-items: center

// .yuji .chars
//   writing-mode: vertical-lr
//   text-orientation: upright
//   border-right: none
//   margin: 0
//   padding: 0 5px

// .toji
//   grid-column: 2 / 4
//   grid-row: 2 / 3
//   display: flex
//   flex-direction: column
//   align-items: center
//   margin-right: 10px

// .toji-photo
//   grid-column: 1 / 3
//   grid-row: 2 / 3
//   width: 75%
//   margin: 1rem 7rem

// .toji .chars
//   writing-mode: vertical-lr
//   text-orientation: upright
//   border-right: none
//   margin: 0
//   padding: 0 5px

// .geto
//   grid-column: 1 / 3
//   grid-row: 3 / 4
//   display: flex
//   flex-direction: column
//   align-items: center
//   margin-right: 10px

// .geto-photo
//   grid-column: 3 / -1
//   grid-row: 3 / 4
//   width: 75%
//   margin: 1rem

// .geto .chars
//   writing-mode: vertical-lr
//   text-orientation: upright
//   border-right: none
//   margin: 0
//   padding: 0 5px
